{% extends "base.html" %}

{% block content %}
  <div>
    <h1>TODO list
      <a class="btn btn-primary link-to-page float-right" href="{% url 'catalog:task-create' %}">Add task</a>
    </h1>
  </div>
  <br>

  {% for task in task_list %}
    <ul class="list-unstyled">
      <li>
        <p class="text-justify">
          <strong>{{ task.content }}
            {% if task.status == "Not done" %}
              <span class="text-danger">{{ task.status }}</span>
              <a href="{% url 'catalog:toggle-complete-undo' pk=task.id %}"
                 class="btn btn-success float-right">Complete</a>
            {% else %}
              <span class="text-success">{{ task.status }}</span>
              <a href="{% url 'catalog:toggle-complete-undo' pk=task.id %}"
                 class="btn btn-secondary float-right">Undo</a>
            {% endif %}
          </strong>
        </p>
        <p>Created: {{ task.created }} {% if task.deadline %} Deadline: {{ task.deadline }}
        {% endif %} </p>
        <p class="border-bottom pb-3">
              <span class="text-secondary">Tags:
                {% for tag in task.tags.all %}
                  {{ tag.name }}
                {% endfor %}
                <a href="{% url 'catalog:task-update' pk=task.id %}">Update</a> 
                  <a href="{% url 'catalog:task-delete' pk=task.id %}">Delete</a>
              </span>
        </p>
      </li>
    </ul>
  {% endfor %}

{% endblock %}
